/* MOBILE RESPONSIVE FIX */
@media (max-width: 600px) {

    body {
        align-items: flex-end;
        overflow: hidden;
        padding-bottom: 10vh;
    }

    .calligraphy-text {
        font-size: 32px;
        top: 20px;
    }

    .flower__glass {
        width: 35vmin;
        height: 50vmin;
    }

    .flower__line {
        width: 3vmin;
        height: 70vmin;
    }

    .flower__leaf,
    .flower__leaf--1,
    .flower__leaf--8 {
        transform: scale(0.7);
        transform-origin: bottom center;
    }

    .f-wrapper,
    .f-wrapper--2,
    .f-wrapper--3 {
        left: 50%;
        transform: translateX(-50%) scale(0.8);
    }

    /* Reduce petals drop distance so they don't fall outside screen */
    @keyframes flower-fall-down-pink {
        100%{
            transform:translate(2vmin,45vmin);
        }
    }

    @keyframes flower-fall-down-yellow {
        100%{
            transform:translate(2vmin,60vmin) rotate(150deg);
        }
    }

    @keyframes flower-fall-down-purple {
        100%{
            transform:translate(-25vmin,-1vmin) rotateY(-80deg) rotateX(35deg);
        }
    }
}
